{% extends "base.html" %}

{% block content %}
    <div>
        <h2>List Of Records</h2>
    </div>
    <div style="margin-right: 10px;">
        <a href="{{ url_for('views.retrieve_start_page') }}" class="button">Back to Start Page</a>
        <a href="{{ url_for('views.create') }}" class="button">Create record</a>
    </div>
    <div>
        {% for employee in employees %}
            <h3>
                {{ employee }}
                <a href="{{ url_for('views.retrieve_employee', id=employee.employee_id) }}" class="button">Show</a>
                <a href="{{ url_for('views.delete', id=employee.employee_id) }}" class="button">Delete</a>
            </h3>
        {% endfor %}
    </div>
{% endblock %}